<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>card creator</title>
  <link rel="stylesheet" href="css/card.css">
</head>

<body>
  <div class="card">
      <div class="tier"></div>
      <div class="border"></div>
      <div class="frame"></div>
      <div class="title">
        <div class="title-text">
          JUMP
        </div>
      </div>
      <div class="illustration"></div>
      <div class="type">
        <div class="type-text">
          LEAP
        </div>
      </div>
      <div class="rules">
        <div class="rules-text">
          <div class="active">
            ⚡ Jump in the Air 5 meters 
          </div>
          <div class="passive">
            ✋ Take no fall damage.
          </div>
          <em class="flavour">
            It's not about how many times you fall, it's about how many times you pick yourself back up.
          </em>
        </div>
      </div>
      <div class="meta">
        <p class="author">
          Illus. Elliot Tomlinson
        </p>
        <p class="copyright">
          © 2021 Cardmaster
        </p>
        <p class="code">
          <span class="series">
            test
          </span>
          <span class="serial">
            000/000
          </span>
        </p>
      </div>
    </div>
  </body>
  </html>
