<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>card creator</title>
  <link rel="stylesheet" href="css/card.css">
</head>

<!-- https://stackoverflow.com/questions/687998/auto-size-dynamic-text-to-fill-fixed-size-container -->
<script type="text/javascript">
  window.onload=function shrink()
  {
      textSpan = document.getElementById("title-text")
      textDiv = document.getElementById("title")
      
      textSpan.style.fontSize = "36pt"

      while(textSpan.offsetHeight > textDiv.offsetHeight)
      {
          updated_font_size = parseInt(textSpan.style.fontSize) - 1
          textSpan.style.fontSize = updated_font_size + "pt";
      }
  }
</script>


<body>
  <div class="card">
      <div class="tier"></div>
      <div class="border"></div>
      <div class="frame"></div>
      <div class="title" id="title">
        <div class="title-text vertical-center" id="title-text">
          SUPER PLASMA LASER BEAM ULTRA CANNON DELUXE VII
        </div>
      </div>
      <div class="illustration"></div>
      <div class="type">
        <div class="type-text">
          LEAP
        </div>
      </div>
      <div class="rules">
        <div class="rules-text">
          <div class="active">
            ⚡ Jump in the Air 5 meters 
          </div>
          <div class="passive">
            ✋ Take no fall damage.
          </div>
          <em class="flavour">
            It's not about how many times you fall, it's about how many times you pick yourself back up.
          </em>
        </div>
      </div>
      <div class="meta">
        <p class="author">
          Illus. Elliot Tomlinson
        </p>
        <p class="copyright">
          © 2021 Cardmaster
        </p>
        <p class="code">
          <span class="series">
            test
          </span>
          <span class="serial">
            000/000
          </span>
        </p>
      </div>
    </div>
  </body>
  </html>
