<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>card creator</title>
  <link rel="stylesheet" href="css/card.css">
</head>

<body>
  <div class="card">
      <div class="tier"></div>
      <div class="border"></div>
      <div class="frame"></div>
      <div class="title">
        <div class="title-text">
          TITLE
        </div>
      </div>
      <div class="illustration"></div>
      <div class="type">
        <div class="type-text">
          TITLE II
        </div>
      </div>
      <div class="rules">
        <p class="active">
          ⚡ ACTIVE
        </p>
        <p class="passive">
          ✋ PASSIVE
        </p>
        <em class="flavour">
          Flavour text
        </em>
      </div>
      <div class="meta">
        <p class="author">
          Illus. Elliot Tomlinson
        </p>
        <p class="copyright">
          © 2021 Cardmaster
        </p>
        <p class="code">
          <span class="series">
            test
          </span>
          <span class="serial">
            000/000
          </span>
        </p>
      </div>
    </div>
  </body>
  </html>
